<html>
<head>
    <title>
        Registration for SIGNIFIYA
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <style>
        .crop-container {
            width: 1500px; /* Set the visible width */
            height: 700px; /* Set the visible height */

            overflow: hidden; /* Hide overflowing parts */
        }

        .crop-image {
            width: 500px; /* Keep image width */
            height: 430px;

            object-fit: cover; /* Crop the image */
            object-position: center; /* Adjust positioning */
        }
    </style>

</head>
<body background ="https://i.gifer.com/J4o.gif" style="background-repeat: no-repeat; background-size: cover; background-position: center;">
<center>
<img src="https://www.iau-hesd.net/sites/default/files/styles/medium/public/media_logo/adamas_university_logo.png?itok=ZawKh_rk">
    <br><label style="color: white;font-size: 100px">Welcome !</label>
</center>
<center>
    <img src="https://assets.telegraphindia.com/telegraph/2025/Apr/1743504762_edugraph-2025-04-01t162127-026.jpg" height="750px" width="1300px" >
    <div style="border: 1px solid black; width: fit-content; padding: 30px;border-radius: 60px; color: white; background-color:rgba(9,195,236,0.75); background-size: cover; background-position: center;" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjBKMAJsCc96h7b_ts3yESKcEFZRen1bG4Jg&s">
        <h1>Online Registration for SIGNIFIYA</h1>
        <form action="/send" method="POST">
            <label>Name</label>
    <input type="text" name="name" placeholder="Enter your name" size="50px" style="padding: 10px">
            <br><br>
            <label>Roll</label>
            <input type="text" name="roll" placeholder="Enter your roll" size="50px" style="padding: 10px">
            <br><br>
            <label>Reg. No.</label>
            <input type="text" name="reg" placeholder="Enter your no" size="50px" style="padding: 10px"><br><br>
            <label>School</label>
            <input type="text" name="school" id="school" placeholder="Enter your school" size="50px" style="padding: 10px">
            <br><br>
            <label>Which role you want to perform in Signifiya?</label><br>
            <select name="role" id="role" style="width: 350px; padding: 10px">
                <option>Select</option>
                <option value="Sponsorship Team">Sponsorship Team</option>
                <option value="Invitation Team">Invitation Team</option>
                <option value="Volunteer Team">Volunteer Team</option>
                <option value="Social Media Team">Social Media Team</option>
                <option value="Participant - Coding Premier League ">Participant - Coding Premier League</option>
                <option value="Participant - Science Olympiad">Participant - Science Olympiad</option>
                <option value="Participant - PATH FOLLOWER(Design Build & Race">Participant - PATH FOLLOWER(Design Build & Race</option>
                <option value="Participant - RE-FAB(3D Modelling & Printing)">Participant - RE-FAB(3D Modelling & Printing)</option>
                <option value="Participant - LATHE WAR(Mechanical Challenges)">Participant - LATHE WAR(Mechanical Challenges)</option>
                <option value="Participant - TOWER MAKING">Participant - TOWER MAKING</option>
                <option value="Participant - BRIDGE BUILDING">Participant - BRIDGE BUILDING</option>
                <option value="Participant - VALORANT(Gaming Battles)">Participant - VALORANT(Gaming Battles)</option>
                <option value="Participant - PES(Gaming Battles)">Participant - PES(Gaming Battles)</option>
                <option value="Participant - Tech Talks & Competitions">Participant - Tech Talks & Competitions</option>
                <option value="Participant - TUG OF WAR">Participant - TUG OF WAR</option>
                <option value="Participant - TREASURE HUNT">Participant - TREASURE HUNT</option>

            </select>
    <input type="submit" value="Submit"  style="padding: 5px; width: 100px"><br><br>

            <!--<a href="/display" class="btn btn-primary">VIEW DATA</a>--!>
</form>
        </div>
    <label style="font-size: 50px; color: white"> See you in SIGNIFIYA!</label>
    <div class="crop-container" >
        <marquee> <img class="crop-image" src="https://cdn.prod.website-files.com/5c99a2b7f7d06d83b8d7d285/5cab03cdd636b72c9e612e31_Ava%20Wave%20wink%20Animation%20with%20shadow.gif" alt="Cropped Image"></marquee>
    </div>

</center>

</body>
</html>